body {
  background-color: #141414;
  color: #FFFFEF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
  width: 45vw;
  max-width: 800px;
}
.row-two {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-two img{
  width: 100%;
}
.col-7 p{
  background-color: rgb(92, 92, 92);
  padding: 10px;
  margin-right: 30px
}
.row-five{
  display: flex;
  justify-content: space-around;
  padding: 1rem 2.5rem 0 1rem;
}
